// Imports
@import "bootstrap";
@import "fonts";

// Variables
$bg : #F4F7F8;
$violet:#6F2183;
$violet-deep:#4C1367;


// add site style here 

body,html{
  background-color: $bg;
  font-family: "Montserrat-Regular";
  color: white;
  .container-fluid{
    padding: 0;
    display: flex;
  }
  transition: background-color .4s;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.closebtn {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 250px;
  margin: 0;
  transition: 0.3s;
}


.sidebar-menu{
  height: 1024px;
  // width: 246px;
  background-color: $violet;
  z-index: 200;
  position: relative;

  font-family: "Montserrat-Regular";

  .sidebar-menu-inner{

    .logo-main{
      height: 70px;
      padding: 20px 40px;
      background-color: $violet-deep;
      img{
        margin: 0 auto;
        width: 100%;
      }
    }
    
    .name-company{
      height: 45px;
      background-color: #FFFFFF;
      .cust-name{
          height: 18px;
          color: #DF542A;
          font-family: "Montserrat-Bold";
          font-size: 14px;
          line-height: 18px;
          padding-left: 21px;
          padding-top: 5px;
          margin: 0;
      }
      .cust-org{
          height: 14px;
          color: #626272;
          font-family: "Montserrat-Regular";
          font-size: 11px;
          font-weight: 600;
          line-height: 14px;
          padding-left: 21px;
          padding-top: 5px;
          margin: 0;
      }
    }

    ul.main-menu{
      list-style: none;
      padding: 0;
      
    }

    li.root-level{
        height: 67px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: $violet;
        border-left: 6px solid $violet;;

        

        a{
          text-decoration: none;
          margin-left: 24px;
          color: #D18EE2;
          font-size: 14px;
          font-weight: 600;
          line-height: 34px;

          img{
            width: 17px;
            height: 17px;
          }
          img.arrow{
            width: 7px;
            height: 12px;
            margin: 12px;
          }
  
          span{
              padding-left: 21px;
          }
        }

        #logout {
          font-size: 12px;
          line-height: 15px;
        }
    }

    li.root-level.active{
      background-color: rgba(76,19,103,0.5);
      box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367;
      
      a{
        color: #FFFFFF;
      }
      border-left: 6px solid #FFCC00;
    }
  }

  .poweredby{
    position: absolute;
    // width: 246px;
    width: 100%;
    bottom: 26px;
    img{
      margin: 0 auto;
      display: table;
    }
    
  }

}

// Main Content
#main-content {
  transition: margin-left .5s;
  padding:0 16px;
  margin: 0;
  width: 100%;

  background-color: $bg;
  color: black;

  .top-bar{
    width: 100%;
    height: 50px;
    background-color: $violet;

    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 34px;

    img{
      width: 17px;
      height: 17px;
      margin: 15px 10px;
    }
    .text-center{
      margin: 10px 0;
    }

    .arrow{
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }
    // .search{}
  }

  // Order Details
  .order-details{
    margin-top: 62px;
    margin-bottom: 30px;

    font-size: 24px;
    font-weight: 300;
    line-height: 29px;

    .order {
      opacity: 0.2;
      color: #6C5E73;
    }
    .order-num {
      color: #6C5E73;
    }
  }


// Additions Section
  .additions{
    .bg-additions {
      height: 80px;
      // min-width: 822px;
      border: 1px solid rgba(173,179,185,0.51);
      border-radius: 3px;
      background-color: #FFFFFF;
    }
    .btn-grp{
      margin: 15px 0;
      .back {
        color: #626272;
        font-size: 14px;
        line-height: 19px;
        padding: 13px 19px;
      }
      .update{
        height: 44px;
        width: 140px;
        padding: 13px 19px;
        border-radius: 5px;
        background-color: #8899AA;
        float: left;
      }
    }
  }

  // Add products section
  .add-products{
      height: 50px;
      border: 1px solid #C3C8CD;
      border-radius: 3px;
      background-color: #FFFFFF;
      margin-top: 15px;
      margin-bottom: 15px;
      .col-xs-12{
        padding: 0;
      }
      input{
          color: #8899AA;
          font-size: 12px;
          line-height: 16px;
          height: 45px;
          border: 0;
          padding: 0;
          // width: 90%;
      }

      .img-animator{
        width: 45px;
        height: 45px;
        padding: 10px;
        margin: 5px;
      }
      img,i{
        width: 20px;
        height: 20px;
      }

      @keyframes rotanim {
        0% {
          -ms-transform: rotate(0deg); /* IE 9 */
          -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
          transform: rotate(0deg);
        }

        100% {
          -ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
          transform: rotate(45deg);
        }
      }
      .rot {
        animation: rotanim .2s linear;
        -webkit-animation-fill-mode: forwards;
      }
    
  }

  // Add Table
  .add-table{

    box-sizing: border-box;
    border: 1px solid rgba(201,201,201,0.69);
    border-radius: 4px;
    background-color: #FFFFFF;

    .col-md-12{
      padding: 0;
    }

    table{
      margin: 0;
    }

    th {
      color: #626272;
      font-size: 8px;
      font-weight: bold;
      line-height: 11px;
      padding: 19px;
    }
    td{
        font-size: 11px;
        line-height: 15px;
        padding: 25px 0 10px 19px;
        .edit-btn{
          height: 17px;
          width: 17px;
          border-radius: 4px;
          background-color: #8899AA;
        }
        .glyphicon-pencil{
          height: 9.4px;
          width: 8px;
          -ms-transform: rotate(135deg); /* IE 9 */
          -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
          transform: rotate(135deg);
        }
        
    }
  }

  // Remarks Section
  .remarks{
    margin-top: 15px;
    .col-xs-12{
      padding: 0;
    }
    .well{
      padding: 15px;
      color: #8899AA;
      background-color: #FFFFFF;
      font-size: 11px;
      line-height: 17px;
      margin: 0;
    }
  }

  .estimate{

    // position: relative;
    // bottom: 50px;

    .estimate-parent{
      background-color: #FFFFFF;
      box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.11), 0 2px 3px 0 rgba(98,98,114,0.21);
      .txt-info{
        color: #626272;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: left;
        margin: 5px 0;
      }
      // .rect {
      //   // height: 32px;
      //   // width: 108px;
      //   border: 1px solid #8899AA;
      //   border-radius: 2px;
      //   margin: 5px 5px;
      // }

      .top{
        border-bottom: 1px  solid #F1F0F4;
      }
      .bottom{
        border-top: 1px solid #F1F0F4;
      }
      .txt-value{
        color: #C9C9C9;
        font-size: 13px;
        line-height: 16px;
        margin: 5px -5px;
        padding: 5px;
        // border: 1px solid #8899AA;
        border-radius: 2px;
      }
    }
      
  }

}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { }
// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) { }
// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 1024px) {}
// Extra large devices (large desktops, 1024px and up)

@media (min-width: 1024px) { 
  .sidebar-menu{
    .sidebar-menu-inner{
      li.root-level.active{
      border-left: 6px solid #65B32E;
      }
    }
 }
  .sidenav {
    height: 100%;
    position: relative;
    transition: 0;
  }

  #main-content {
    padding:0 30px;

    .additions{
      .btn-grp{
        .update{
         width: 60%;
          float: right;
        }
      }
    }

  }

 }



// Dashboard related
.dashboard{
  margin: 0;
  width:100%; 
  .row{
    width:100%; 
  }
  background-color: grey;
}

